<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>binding example</title>
    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.validator/2.1.4/vue-validator.min.js"></script>
  </head>
  <body>
    <div id="app">
      <!--<validator name="validation">-->
        <!--<form novalidate>-->
          <!--<input type="text" v-validate:comment="{ minlength: 16, maxlength: 128 }">-->
          <!--<div>-->
            <!--<span v-show="$validation.comment.minlength">Your comment is too short.</span>-->
            <!--<span v-show="$validation.comment.maxlength">Your comment is too long.</span>-->
          <!--</div>-->
          <!--<input type="submit" value="send" v-if="$validation.valid">-->
        <!--</form>-->
      <!--</validator>-->



      <!--v-validate指令中的字段名可以使用驼峰命名发-->
      <!--<validator name="validation">-->
        <!--<form novalidate>-->
          <!--<input type="text" v-validate:user-name="{ minlength: 16 }">-->
          <!--<div>-->
            <!--<span v-if="$validation.userName.minlength">Your user name is too short.</span>-->
          <!--</div>-->
        <!--</form>-->
      <!--</validator>-->


      <!--也可以使用field属性来指定字段名-->
      <!--<validator name="validation">-->
        <!--<form novalidate>-->
          <!--<p class="validate-field" v-for="field in fields">-->
            <!--<label :for="field.id">{{field.label}}</label>-->
            <!--<input type="text" :id="field.id" :placeholder="field.placeholder" :field="field.name" v-validate="field.validate">-->
          <!--</p>-->
          <!--<pre>{{ $validation | json }}</pre>-->
        <!--</form>-->
      <!--</validator>-->



    </div>
    <script>
      new Vue({
        el: '#app'
//        data: {
//          fields: [{
//            id: 'username',
//            label: 'username',
//            name: 'username',
//            placeholder: 'input your username',
//            validate: { required: true, maxlength: 16 }
//          }, {
//            id: 'message',
//            label: 'message',
//            name: 'message',
//            placeholder: 'input your message',
//            validate: { required: true, minlength: 8 }
//          }]
//        }
      })
    </script>
  </body>
</html>
