<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="vue-instance">
    <ul>
        <!--<li v-for="item in inventory">-->
        <li v-for="(index, item) in inventory">
           {{ index }} - {{ item.name }} - ${{ item.price }}
        </li>
    </ul>
</div>

<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#vue-instance',
        data: {
            inventory: [
                {name: 'a', price: 1000},
                {name: 'b', price: 1100},
                {name: 'c', price: 1200},
                {name: 'd', price: 1300}
            ]
        }
    });
</script>
</body>
</html>